.container {
    width:100%;
    border:1px solid #d3d3d3;
}
.container div {
    width:100%;
}
.container .header {
    background-color:#d3d3d3;
    padding: 2px;
    cursor: pointer;
    font-weight: bold;
}
.container .content {
    display: none;
    padding : 5px;
}

.right{
  height:100%;
  width:50%;
  float:right;
  display:inline;
}

.left{
  height:100%;
  width:50%;
  float:left;
  display:inline;
}
